<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @media screen and (min-width: 601px) {
        .outer-wrapper {
          background-color: #F9F9F9 !important;
        }
        .outer-td {
          padding-top: 30px !important;
          padding-bottom: 30px !important;
        }

        .inner-wrapper {
          -moz-border-radius: 0px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
        }
        .header {
          -moz-border-radius: 0px;
          -webkit-border-radius: 12px 12px 0px 0px;
          border-radius: 12px 12px 0px 0px;
        }
        .footer {
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px 0px 12px 12px;
          border-radius: 0px 0px 12px 12px;
        }
      }
    </style>
  </head>
<body style="margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; color:#333; line-height:1.6;">
  <!-- Outer wrapper for background when widht is > 600px-->
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:0; padding:0; background-color:transparent;" class="outer-wrapper">
    <tr><td align="center" style="margin:0;" class="outer-td">
      <!-- Inner container -->
      <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="width:100%; max-width:600px; margin:0 auto; padding:0; background-color:#ffffff;" class="inner-wrapper">
        <tr><td style="padding:0; margin:0;">

          <table width="100%" cellpadding="20" cellspacing="0" border="0" bgcolor="#d6336c" class="header">
            <tr><td align="center" style="font-size:20px; line-height:24px; font-weight:bold; color:#ffffff;">
              „Valentino match'inimo” registracijos patvirtinimas
            </td></tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
            <td style="padding-top:10px;padding-right:30px;padding-bottom:10px;padding-left:30px;">
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr><td align="left" style="line-height:1.6; color:#444444;">
                  <p>Gavai šį laišką, nes šiuo el. pašto adresu buvo užpildyta ir pateikta anketa <b>„Valentino match'inimo tarp Šilalės rajono gimnazijų”</b> projekte!</p>
                  <p style="margin-bottom:0px;"><b>Jei pildei šią anketą ir toliau nori dalyvauti projekte, jokių papildomų veiksmų tau imtis nereikia.</b>
                  Tokiu atveju šis laiškas patvirtina, kad tavo anketos atsakymai sėkmingai priimti.<br>
                  Jau netrukus gausi dar vieną laišką su savo ilgai lauktais Valentino match'inimo rezultatais! <b>Preliminari rezultatų gavimo data:</b></p>
                  <!-- <p><b>Jei jūs nepildėte projekto anketos arba nenorite dalyvauti projekte, prašome nedelsiant susisiekti el. paštu: <a href="mailto:info@weekintas.lt" style="color:#a04d42; text-decoration:none;">info@weekintas.lt</a>.</b><br>
                  Pasinaudojus šia galimybe, visi jūsų duomenys ir susiję laiškai bus nedelsiant pašalinti. Taip pat tokiu atveju daugiau niekada negausite iš mūsų el. laiškų.</p>
                  <p style="color:#888888;">Jei turite kitų klausimų, pasipiktinimų ar norite nebedalyvauti projekte, rašykite mums adresu <a href="mailto:info@weekintas.lt" style="color:#a04d42; text-decoration:none;">info@weekintas.lt</a>.</p> -->
                </td></tr>
                <tr><td align="center" style="padding-top:16px;">
                  <table cellpadding="10" cellspacing="0" border="0" bgcolor="#e4e1e1" style="border-radius:8px;">
                    <tr><td style="line-height:20px; font-size:18px; font-weight:bold;">
                      Vasario 12 diena
                    </td></tr>
                  </table>
                </td></tr>
                <tr><td align="left" style="line-height:1.6; color:#aaaaaa;">
                  <p><i><b>Rezultatų laiškas gali atsidurti ir šlamšto („Spam”) aplanke.</b> Jei rezultatų negautum vėliau kaip 3 dienas po nurodyto termino, susisiek žemiau nurodytu el. pašto adresu.</i></p>
                </td></tr>
              </table>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr><td align="left" style="line-height:1.6; color:#444444;">
                  <p><b>Jei nepildei šio projekto anketos arba nebenori dalyvauti projekte, nedelsiant susisiek su mumis el. paštu: <a href="mailto:info@weekintas.lt" style="color:#d6336c;">info@weekintas.lt</a>.</b><br>
                  Pasinaudojus šia galimybe visi tavo duomenys bus nedelsiant ištrinti ir daugiau niekada nebegausi iš mūsų el. laiškų.</p>
                </td></tr>
              </table>
            </td>
          </tr></table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr><td align="center">
              <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f1f1f1" class="footer">
                <tr><td align="center" style="padding:10px; font-size:12px; color:#888888; line-height:16px;">
                  <div style="font-weight:bold; margin:0; padding:0;">
                    &copy; 2026 „Suderintojas”  |  Vykintas Mylimas
                  </div>
                  <div style="margin-top:4px; font-size:12px; line-height:16px;">
                    Iškilus klausimams susisiekite <a href="mailto:info@weekintas.lt" style="color:#d6336c;">info@weekintas.lt</a>
                  </div>
                </td></tr>
              </table>
            </td></tr>
          </table>

        </td></tr>
      </table>
    </td></tr>
  </table>
</body>
</html>
